.section {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.section h2 {
  margin-bottom: 15px;
}

.section input,
.section textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

.section button {
  padding: 10px 20px;
  cursor: pointer;
}
.exp-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #a95210;
  color: white;
  border: none;
  border-radius: 8px;
  opacity: 0.9;
}
.exp-btn:hover {
  opacity: 1;
}